<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>iTrust</title>
		<!-- css begin -->
		<link rel="stylesheet" href="../css/normalize.css" />
		<link rel="stylesheet" href="../css/foundation.css" />
		<link rel="stylesheet" href="../css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<!-- doc-wrap begin -->
		<div class="doc-wrap">
			<div class="off-canvas-wrap" data-offcanvas>
			  <div class="inner-wrap">
			    <nav class="tab-bar">
			      <section class="middle tab-bar-section">
			        <a href="" class="home">Home</a><h1 class="title">iTrust</h1>
			        <a href="login.html" class="logout">Logout</a>
			      </section>
			    </nav>
			    <section class="main-section">
			      <div class="row top-spacer">
			      	<div class="column">
			      		<p>
			      			<!-- Please begin by providing your ID/Address proof for validation -->
			      		</p>
			      	</div>
			      </div>
			      <div class="row">
			      	<div class="column">
			      		<ul class="tabs status-tab" data-tab>
								  <li class="tab-title active"><a href="#panel1">ID Proof Status</a></li>
								</ul>
								<div class="tabs-content status-tab-content">
								  <div class="content active" id="panel1">
								  	<div class="row">
									  	<div class="column small-12 large-4 end">
									  		<a href="id-form.html"><span class="secondary round radius label">AADHAAR</span></a>
									  		<span class="label info">verification in progress</span>
									  	</div>
									  	<div class="column small-12 large-4 end">
									  		<a href="id-form.html"><span class="alert round radius label">PAN</span></a>
									  	</div>
									  </div>
								  </div>
								</div>
			      	</div>
			     	</div>
			     	<div class="row">
			      	<div class="column">
			      		<ul class="tabs status-tab" data-tab>
								  <li class="tab-title active"><a href="#panel2">Address Proof Status</a></li>
								</ul>
								<div class="tabs-content status-tab-content">
								  <div class="content active" id="panel2">
								  	<div class="row">
									  	<div class="column small-12 large-4 end">
									  		<a href="address-form.html"><span class="alert round radius label">Permanent Address</span></a>
									  	</div>
									  	<div class="column small-12 large-4 end">
									  		<a href="address-form.html"><span class="alert round radius label">Persent Address</span></a>
									  	</div>
									  </div>
								  </div>								  
								</div>
			      	</div>
			     	</div>
			    </section>
			  </div>
			</div>	
		</div>
		<!-- doc-wrap end -->

		<!-- script begin -->
		<script src="../js/jquery.js"></script>
		<script src="../js/foundation.min.js"></script>
		<script src="../js/render.js"></script>
		<!--<script src="/public/script/lib/requirejs/require.js"></script>
		<script>
			require( [ "/public/script/config/requireJSConfig.js" ], function( config ) {
				require( [ "main" ] );
			} );
		</script>-->
		<!-- script end -->
	</body>
</html>