<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Address Details - iTrust</title>
		<!-- css begin -->
		<link rel="stylesheet" href="../css/normalize.css" />
		<link rel="stylesheet" href="../css/foundation.css" />
		<link rel="stylesheet" href="../css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<!-- doc-wrap begin -->
		<div class="doc-wrap">
			<div class="off-canvas-wrap" data-offcanvas>
			  <div class="inner-wrap">
			    <nav class="tab-bar">
			      <section class="middle tab-bar-section">
			        <a href="existing-user.html" class="home">Home</a><h1 class="title">Address Details</h1>
			        <a href="login.html" class="logout">Logout</a>
			      </section>
			    </nav>
			    <section class="main-section">
			    	<p class="top-spacer">
			    	</p>
			      <form action="" method="" id="">
			      	<div class="row">
			      		<div class="column">
			      			<p class="label success label-info">
			      				Address Validated through AADHAAR
			      			</p>
			      			<p class="label info label-info">
			      				Last Validated On: 20 Jun 2015
			      			</p>
			      		</div>
			      	</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">D.No</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="" value="123">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">Street</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="" value="3rd Street">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">District</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="" value="Chennai">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">City</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="" value="Chennai">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">State</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="" value="Tamil Nadu">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">Pincode</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="" value="600123">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-8 columns">
						          <span class="prefix">AADHAAR LINKED</span>
						        </div>
						        <div class="small-4 columns">
						          <div class="switch small">
											  <input id="exampleCheckboxSwitch" checked type="checkbox">
											  <label for="exampleCheckboxSwitch"></label>
											</div> 
						        </div>
					      	</div>
								</div>								
							</div>
							<div class="row">
								<div class="column small-12"> 
									<a href="existing-user.html" class="button radius expand">Verify my PRESENT details</a>
								</div>
							</div>
						</form>
			    </section>
			  </div>
			</div>	
		</div>
		<!-- doc-wrap end -->

		<!-- script begin -->
		<script src="../js/jquery.js"></script>
		<script src="../js/foundation.min.js"></script>
		<script src="../js/render.js"></script>
		<!--<script src="/public/script/lib/requirejs/require.js"></script>
		<script>
			require( [ "/public/script/config/requireJSConfig.js" ], function( config ) {
				require( [ "main" ] );
			} );
		</script>-->
		<!-- script end -->
	</body>
</html>