<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Identity Details - iTrust</title>
		<!-- css begin -->
		<link rel="stylesheet" href="../css/normalize.css" />
		<link rel="stylesheet" href="../css/foundation.css" />
		<link rel="stylesheet" href="../css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<!-- doc-wrap begin -->
		<div class="doc-wrap">
			<div class="off-canvas-wrap" data-offcanvas>
			  <div class="inner-wrap">
			    <nav class="tab-bar">
			      <section class="middle tab-bar-section">
			        <a href="new-user.html" class="home">Home</a><h1 class="title">Identity Details</h1>
			        <a href="login.html" class="logout">Logout</a>
			      </section>
			    </nav>
			    <section class="main-section">
			      <form action="" method="" id="" class="top-spacer">							
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">AADHAAR</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">Father Name</span>
						        </div>
						        <div class="small-7 columns">
						          <input type="text" placeholder="">
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column">
									<div class="row collapse prefix-radius">
						        <div class="small-5 columns">
						          <span class="prefix">Address</span>
						        </div>
						        <div class="small-7 columns">
						          <textarea rows="5"></textarea>
						        </div>
					      	</div>
								</div>		      
							</div>
							<div class="row">
								<div class="column small-12"> 
									<a href="aadhaar-verification.html" class="button radius expand">Verify my AADHAAR details</a>
								</div>
							</div>
						</form>
			    </section>
			  </div>
			</div>	
		</div>
		<!-- doc-wrap end -->

		<!-- script begin -->
		<script src="../js/jquery.js"></script>
		<script src="../js/foundation.min.js"></script>
		<script src="../js/render.js"></script>
		<!--<script src="/public/script/lib/requirejs/require.js"></script>
		<script>
			require( [ "/public/script/config/requireJSConfig.js" ], function( config ) {
				require( [ "main" ] );
			} );
		</script>-->
		<!-- script end -->
	</body>
</html>