<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Page Title</title>
		<!-- css begin -->
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<!-- doc-wrap begin -->
		<div class="doc-wrap">
			<div class="off-canvas-wrap" data-offcanvas>
			  <div class="inner-wrap">
			    <nav class="tab-bar">
			      <section class="middle tab-bar-section">
			        <h1 class="title">Title</h1>
			      </section>
			    </nav>
			    <section class="main-section">
			      Content
			    </section>
			  </div>
			</div>	
		</div>
		<!-- doc-wrap end -->

		<!-- script begin -->
		<script src="../js/jquery.js"></script>
		<script src="../js/foundation.min.js"></script>
		<script src="../js/render.js"></script>
		<!--<script src="/public/script/lib/requirejs/require.js"></script>
		<script>
			require( [ "/public/script/config/requireJSConfig.js" ], function( config ) {
				require( [ "main" ] );
			} );
		</script>-->
		<!-- script end -->
	</body>
</html>